<section class="trustpilot-list">
{% for review in reviews %}
<div class="flex items-start border-b border-gray-200 pb-2 mb-2">
    <div class="flex flex-col w-36">
      {% if (review.consumer_avatar) %}
      <img class="w-10 h-10 rounded-full mx-auto" src="{{review.consumer_avatar}}" alt="{{review.consumer_name}}">
      {% endif %}
      <div class="text-sm text-center">{{review.consumer_name}}</div>
    </div>
    <div class="w-full flex flex-col justify-start pl-5">
      <div class="">{{review.rating_stars|raw}}</div>
      <div class="text-xl font-bold">{{review.title}}</div>
      <div class="w-full">{{review.text}}</div>
    </div>
</div>
{% endfor %}
</section>